/* Estrutura do site */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Consolas", "Trebuchet MS","Helvetica", sans-serif;
    background: white url(../img/fundo.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    background: url(../img/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../img/logo.png) no-repeat center;
    text-indent: -3000px;
}

/* Barra de navegação */
a:link, a:visited {
    color: #970b32;
    padding: 2px;
}

a:hover {
    color: #ff0048;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    margin-top: 30px;
    background: #8b1010;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul li a {
    font-size: 1em;
    font-weight: bold;
    display: block;
    padding: 0.5em 0.9em;
    line-height: 2em;
    text-decoration: none;
    color: white;
    background: url(../img/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: yellow;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos {
    color: white;
    background: #de003e;
    cursor: text;
}

/* Config layout de três colunas */
#conteudo {
    margin-top: 60px;
    background: #f5f5f5;
}

#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#uma-coluna #primario {
    width: 750px;
    margin: 0 0 20px 0;
}

#duas-colunas #primario {
    width: 555px;
}

#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

/* Caixa */
.caixa {
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3 url(../img/fundo-caixa.png);
}

h2 {
    font-size: 17px;
    background: #294c71;
    color: white;
    padding: 5px;
}

.caixa-conteudo {
    background: white;
    padding: 5px;
    margin-top: 5px;
}

/* Formatar menus laterais */
#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
    background: #f9f9f9 url(../img/marcador.png) no-repeat left center;
    padding-left: 22px;
    color: #ff0000;
    font-weight: bold;
}

/* Formatando formulários */
label {
    font-weight: bold;
    display: block;
    cursor: pointer;
}

input {
    padding: 5px;
    width: 145px;
    font-size: 0.9em;
    background-color: white;
}

input.submit {
    width: 100px;
    color: white;
    background-color: #b10333;
    border: 2px solid #870529;
    margin: 7px 30px 3px 30px;
    font-weight: bold;
}

/* Formatando imagens */
img.imagem-principal {
    width: 98%;
    border: 3px solid #dfdfdf;
}

/* Formatando cabeçalhos */
h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.9em;
    padding: 3px;
}

.destaque h3 {
    background: #b10333;
    color: white;
}

.entrevista h3 {
    background: red;
    color: black;
}

/* Formatando lista de notícias */
#lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}

#lista-noticias li a img {
    float: left;
    margin: 5px;
}

#lista-noticias li a {
    text-decoration: none;
}

#lista-noticias li a h3 {
    font-size: 0.9em;
    padding: 0;
    color: #3e7ab9;
}

#lista-noticias li a p {
    font-size: 0.8em;
    color: black;
}

#lista-noticias li:hover {
    background: #eee;
    cursor: pointer;
}

/* Rodape */
#container-rodape {
    background: #294c71;
    padding: 20px;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: white;
    text-align: center;
}