/* Estrutura do site */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Consolas", "Trebuchet MS","Helvetica", sans-serif;
    background: white url(../img/fundo.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    background: url(../img/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../img/logo.png) no-repeat center;
    text-indent: -3000px;
}

/* Barra de navegação */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    margin-top: 30px;
    background: #8b1010;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul li a {
    font-size: 1em;
    font-weight: bold;
    display: block;
    padding: 0.5em 0.9em;
    line-height: 2em;
    text-decoration: none;
    color: white;
    background: url(../img/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: yellow;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos {
    color: white;
    background: #de003e;
    cursor: text;
}